Repository medic/cht-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abbyad, @nomulex, @MaxDiz, @michaelkohn, @garethbowen, @smbuthia, @n-orlowski, @isaacholeman, @mrjones-plip

Add files via upload
  content/en/design/icons/forms_tasks_targets/PNGs/icon-misc-hand-wash.png
Owners: @n-orlowski

icons
  content/en/design/icons/forms_tasks_targets/PNGs/icon-healthcare-mrdt-negative@2x.png
  content/en/design/icons/forms_tasks_targets/PNGs/icon-healthcare-mrdt-positive@2x.png
  content/en/design/icons/forms_tasks_targets/PNGs/icon-healthcare-mrdt@2x.png
  content/en/design/icons/forms_tasks_targets/SVGs/icon-healthcare-mrdt-negative.svg
  content/en/design/icons/forms_tasks_targets/SVGs/icon-healthcare-mrdt-positive.svg
  content/en/design/icons/forms_tasks_targets/SVGs/icon-healthcare-mrdt.svg
  content/en/design/icons/forms_tasks_targets/SVGs/icon-misc-hand-wash.svg
Owners: @n-orlowski

maternal and newborn minor changes
  content/en/apps/examples/anc.md
Owners: @MaxDiz

update local setup tutorial with test data install
  content/en/apps/tutorials/local-setup.md
Owners: @smbuthia

Adds documentation about privacy policies. (#248)
  content/en/apps/guides/security/privacy-policy.md
  content/en/apps/guides/security/privacy-policy/accept-mobile.png
Owners: @michaelkohn

.github/CODEOWNERS:

# Default owner, used to cover all Hugo and non content files.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*                             @abbyad

# Owner of GitHub Actions
.github/workflows/            @nomulex

# Owners for specific content in the docs site
content/en/apps/              @MaxDiz
content/en/apps/concepts      @MaxDiz
content/en/apps/examples      @MaxDiz
content/en/apps/features      @MaxDiz
content/en/apps/guides        @michaelkohn
content/en/apps/reference     @garethbowen
content/en/apps/tutorials     @smbuthia
content/en/contribute/        @MaxDiz
content/en/contribute/code/   @garethbowen
content/en/core/              @garethbowen
content/en/design/            @n-orlowski
content/en/why-the-cht        @isaacholeman

# Owners for code files that could be within content folders  
*.js                          @abbyad
*.html                        @abbyad
*.css                         @mrjones-plip
*.scss                        @mrjones-plip
